body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f4f0ea, #ebecf3);
}
.page1{
    width: 100%;
    height: 100vh;
}
.navbor{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: white;
}
.page1-content{
    width: 100%;
    height: 90%;

    display: flex;
}
.logo{
    width: 30%;
    height: 100%;

}
.logo-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 55%;
    height: 100%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #383E54;
}
.logo-con img{
    width: 20%;
    height: 55%;
}
.cur{
    cursor: pointer;
}
.navi{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15%;
    font-size: 1vw;
    font-weight: 500;
    color: #555555;
}
.button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 500;
    color: #555555;
    gap: 3%;
}
.button-class{
    display: flex;
    height: 70%;
    width: 100%;
    padding-left: 40%;
    gap: 3%;
}
.login{
    padding: 8%;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-color: #5978FF;
    color: #5978FF;
    font-size: 1vw;
    border-width: 1px;
    cursor: pointer;
    background-color: white;
}

.gt{
    padding: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #5978FF;
    border-radius: 10px;
    color: white;
    border: 0px;
    font-size: 1vw;
    cursor: pointer;
}

.exp-con{
 
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.exp-box{
    height: 70%;
    width: 70%;
    padding-left: 10%;
}
.img-con{
   
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
 }
.box-title{
    width: 100%;
    height: 30%;

    font-size: 2.8vw;
    font-weight: 600;
}
.box-ti-co{
    color: #5978FF;
}
.box-para{
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    font-size: 1vw;
}
.box-rate{
    width: 100%;
    height: 20%;
    display: flex;
}
.box-inside{
    height: 80%;
    width: 80%;
    display: flex;
    gap: 2%;
    align-items: center;
    font-size: 1vw;
    font-weight: 400;
    color: #555555;
}
.star{
    width: 8%;
    height: 32%;
    border-radius:30%;
}
.rocket{
    width: 8%;
    height: 40%;
}
.box-button{
    width: 100%;
    height: 20%;

}
.exp-btn{
    padding: 4%;
    padding-left: 7%;
    padding-right:7%;
    font-size: 1vw;
    color: white;
    background-color: #5978FF;
    border-radius: 1vw;
    border: 0px;
    cursor: pointer;
}
.boy-img{
    width: 80%;
    height: 80%;
   
    position: relative;
    top: 5%;
}
.boy-img img{
    width: 90%;
    height: 90%;
    
}
.page3{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    

}
.page3-con{
    width: 70%;
    height: 75%;

    position: relative;
    top: 5%;
}
.page3-text{
    width: 100%;
    height: 15%;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.5vw;
    font-weight: 600;
}
.page3-video{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0px 0px;
}
.page3-video-div{
    background-color: #0D1226;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.3vw;
    color: white;
    border-radius: 0px 0px 10px 10px;
}
.page3-t{
    position: relative;
    left: 4%;
}

.page4{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-con{

    width: 80%;
    height: 80%;
}
.page4-text{
    width: 100%;
    height: 10%;
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10dvh;
}
.page4-text-con{
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 5dvW;

}
.pa{
    flex-basis: 33%;
    height: 50%;

    display: flex;
    flex-direction: column;
    
}
.pa img{
    width: 3vw;
    height: 3vw;
}

.pa h4{
    font-size: 1.3vw;
    font-weight: 600;
    position: relative;
    top: 5%;
}
.pa p{

    font-size: 1vw;
    font-weight: 400;
    color: #555555;
    position: relative;
    bottom: 5%;
}
.home{
    color: #f8971f;
}